html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#000, #222, #222, #000);
}

.spaceformobile {
  height: 30%;
}

.heading {
  flex: 2;
  margin: 3% auto 7%;
  color: #b30909;
  text-align: center;
  overflow: hidden;
}

.heading :hover {
  cursor: pointer;
}

.hide {
  opacity: 0;
}

.heading > span {
  font-family: "Bungee Outline", cursive;
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 1;
}

.heading > :nth-child(even) {
  color: white;
}

.piano {
  flex: 7;
  margin: 0 1% 9%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  column-gap: 0.1em;
}

.piano > div {
  box-sizing: border-box;
  border: 2px solid #333;
  border-radius: 5px;
  height: 15em;
  text-align: center;
}

.white {
  background-color: white;
}

.black {
  background-image: linear-gradient(#222, #000);
}

.piano > div:hover {
  box-shadow: 0 2px 5px 2px white;
  cursor: grab;
}

.footer {
  flex: 1;
  align-self: center;
  position: fixed;
  bottom: 0;
  margin: 0 auto 1%;
  text-align: center;
  font-size: 22.5px;
  font-family: "Amatic SC", cursive;
  color: white;
  text-decoration: none;
}

.footer > a {
  color: white;
  text-decoration: none;
}

.footer > a:hover {
  color: red;
  font-size: 1.15em;
}

.caption {
  font-size: 1.2em;
}

.pointer {
  cursor: pointer;
}

.mouse-on-caption {
  color: red;
  font-size: 1.25em;
}

.new-tile {
  background-image: none;
  background-color: #b30909;
  box-shadow: 0 2px 5px 5px white;
}

.wrong-answer {
  background-image: none;
  background-color: white;
}

.popup {
  display: none;
  position: absolute;
  top: 45vh;
  left: 40vw;
  box-shadow: 0 0 20px 10px grey;
  border-radius: 15px;
  border: solid 2px white;
  width: 20vw;
  height: 10vh;
  padding: 1%;
  font-family: "Amatic SC", cursive;
  font-size: 0.7em;
  text-align: center;
  line-height: 10vh;
  color: white;
  background-image: linear-gradient(to bottom right, #000, #222, #000);
}

@media (min-width: 386px) {
  .spaceformobile {
    height: 0;
  }

  .heading {
    margin: 16% auto 5%;
  }

  .heading > span {
    font-size: 5.2rem;
  }

  .piano {
    margin: 7% 1% 1% 1%;
    grid-template-columns: repeat(13, 1fr);
    column-gap: 0.1em;
  }

  .piano > div {
    height: 24em;
  }

  .popup {
    font-size: 1.75em;
  }
}

@media (min-width: 768px) {
  .heading {
    margin: 1.5% auto 0.5%;
  }

  .heading > span {
    font-size: 8rem;
  }

  .piano {
    flex: 7;
    margin: 2% 18% 9%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    column-gap: 0.25em;
  }

  .piano > div {
    height: 32em;
  }
}

@media (min-height: 368px) and (max-height: 412px) {
  .heading > span {
    font-size: 5rem;
  }

  .piano {
    margin: 0% 18% 1%;
    padding: 10px;
  }

  .piano > div {
    height: 14em;
  }
}

@media (min-height: 1024px) {
  .heading > span {
    font-size: 8rem;
  }

  .piano {
    margin: 2% 18% 9%;
    padding: 10px;
  }

  .piano > div {
    height: 30em;
  }
}
