html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#000,#222,#222,#000);
}

.heading {
  flex: 2;
  margin: 3% auto 7%;
  color: #b30909;
  text-align: center;
}

.heading :hover {
  cursor: pointer;
}

.hide {
  opacity: 0;
}

.heading > span {
  font-family: 'Bungee Outline', cursive;
  font-size: 6rem;
  font-weight: bold;
  line-height: 1;
}

.heading > :nth-child(even) {
  color: white;
}

.piano {
  flex: 7;
  margin: 0 1% 9%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  column-gap: 0.1em;
}

.piano > div {
  box-sizing: border-box;
  border: 2px solid #333;
  border-radius: 5px;
  height: 17em;
  text-align: center;
}

.white {
  background-color: white;
}

.black {
  background-image: linear-gradient(#222,#000);
}

.piano > div:hover {
  box-shadow: 0 2px 5px 2px white;
  cursor: grab;
}

.footer {
  flex: 1;
  align-self: center;
  position: fixed;
  bottom: 0;
  margin: 0 auto 1%;
  text-align: center;
  font-size: 22.5px;
  font-family: 'Amatic SC', cursive;
  color: white;
  text-decoration: none;
}

.footer > a {
  color: white;
  text-decoration: none;
}

.footer > a:hover {
  color: red;
  font-size: 1.15em;
}

.caption {
  font-size: 1.2em;
}

.pointer {
  cursor: pointer;
}

.mouse-on-caption {
  color: red;
  font-size: 1.25em;
}

.new-tile {
  background-image: none;
  background-color: #b30909;
  box-shadow: 0 2px 5px 5px white;
}

.wrong-answer {
  background-image: none;
  background-color: white;
}

@media(min-width: 768px) {
  .heading {
    margin: 1.5% auto 0.5%;
  }

  .heading > span {
    font-size: 7rem;
  }

  .piano {
    margin: 0 18% 2%;
    column-gap: 0.25em;
  }

  .piano > div {
    height: 22.5em;
  }
}